<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog</title>

    <!-- bootstrap -->
    <!--
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!-- Medium style editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">


    <!--custome css-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Cabin|Tangerine" rel="stylesheet">
  </head>


  <body class="loader">

  <nav class="navbar navbar-default techfont custom-navbar">
      <div class="container">


        <ul class="nav navbar-nav">
          <li><a class='navbar-brand bigbrand' href="{% url 'post_list' %}">Blog Posts</a></li>
          <li><a href="{% url 'about'%}">About</a></li>
          <li><a href="https://www.github.com">Github</a></li>
          <li><a href="https://www.linkedin.com">LinkedIn</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'post_new' %}" >New Post</a>
          </li>

          <li>
            <a href="{% url 'post_draft_list' %}">Drafts</a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >Log out</a>
          </li>

          <li>
            <a >Welcome {{ user.username }}</a>
          </li>
            {% else %}
            <li><a class='nav navbar-right' href="{% url 'login' %}" ><span class="glyphicon glyphicon-user"></span></a></li>
            <li><a class='nav navbar-right' href="{% url 'contact' %}" ><span class="glyphicon glyphicon-envelope"></span></a></li>
            <li><a class='nav navbar-right' href="{% url 'registered' %}" ><span class="glyphicon glyphicon-plus"></span></a></li>

          {% endif %}

        </ul>
    </div>
  </nav>

    <!-- Navbar ----->
  <!--  <nav class="navbar navbar-expand-lg navbar-light bg-light techfont custom-navbar">
    <a class="navbar-brand" href="{% url 'post_list' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'about' %}">About<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="https://www.github.com">Github<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="https://linkedin.com">LinkedIn<span class="sr-only">(current)</span></a>
    </div>
    </div>


      <ul class='nav navbar-nav navbar-right'>
        {% if user.is_authenticated %}
        <li>
          <a class="nav-item nav-link active" href="{% url 'post_new' %}">New Post<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-item nav-link active" href="{% url 'post_draft_list' %}">Drafts<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-item nav-link active" href="{% url 'logout' %}">Log Out<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class='nav-item nav-link active'>Welcome: {{user.username}}</a>
        </li>
        {% else %}
        <li>
          <a class="nav-item navbar-right" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
        </li>

        {% endif %}

      </ul>
    </nav> -->


    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog_posts">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>




<div class="footer">All Rights reserved <strong><br>Author: Sam Ghadri</strong>.</div>

  </body>
</html>
