{% extends "blog/base.html" %}

{% block content %}
  <div class="container">
      {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <h1>Register Here</h1>
        <h3>Just fill out the form.</h3>

        <form class="post-form"  enctype="multipart/form-data" method="POST">
          <table>
          {% csrf_token %}
          {{ user_form.as_table }}
        </table>
          <input type="submit" class="btn btn-success" value="Register">
        </form>
      {% endif %}

  </div>

{% endblock %}
